<div class="row-fluid ">
  <div class="span2">
    <%= image_tag "caja.jpeg" %>
  </div>
  <div class="span6 welcome-banner">
        <h2>Mil Cajas!</h2>
        <h3>Compartir y buscar lo que más te gusta nunca fue más fácil</h3>
  </div>
</div>


<div class="row-fluid ">
  <div class="span4">
    <div class="hero-unit step1 thumbnail steps">
        <h4 >Paso 1</h4>
        <p>Accede con tu cuenta de Dropbox y autoriza MilCajas </p>
    </div>
  </div>

  <div class="span4">
        <div class="hero-unit step2 thumbnail steps">
        <h4>Paso 2</h4>
        <p>Coloca en la nueva carpeta Apps/MilCajas en tu Dropbox lo que quieras compartir</p>
    </div>

  </div>

  <div class="span4">
      <div class="hero-unit step3 thumbnail steps">
        <h4>Paso 3</h4>
        <p>Busca lo que te guste en MilCajas y copialo a tu Dropbox con un solo click</p>
        <p><% if current_user %>
          <%= link_to items_path, :class => "btn btn-large btn-success", :id => "gotopanel" do %>
              Buscar en Mil Cajas
          <% end %>
        <% else %>
          <%= link_to "Accede con Dropbox", access_path, :id => "access", :class => "btn btn-large btn-primary" %>
        <% end %></p>
    </div>

  </div>

</div>
