/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 */

@import "bourbon";

.steps {
  .thumbnail {
    text-align:center;
    height:90px;
    padding:20px;
    font-size: 18px;
  }
  h4 {
    float: left;
    margin-top:30px;
    font-size: 30px !important;
    margin-left:5px;
  }
  p {
    margin-top:10px;
    margin-left:45px;
    text-align:justify;
  }
}

.phrase-banner {
margin-top:50px;
}

.welcome-banner {
  margin-top:30px;
  text-align:center;
}

.category-button {
  width: 60px;
}

.non-results {
  text-align: center !important;
}
.container[role="main"] {
  padding-bottom: 60px;
}

.bottom-bar {
  margin-top:10px;
  padding:2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #08C;
  .copyright {
    padding-top:10px;
  }
}

.big-title {
  font-size: 80px;
  height: 100px;
  line-height: 90px;
  text-align: center;
}

#register-dropbox {
  clear: both;
  padding-top:5px;
  text-align:center;
}

.current_user {
  padding-top:5px;
}

.settings {
  display:inline;
  padding-left:5px;
}

#settings-dropdown {
  margin-left: -132px;
  margin-top: 8px;
}