//= require_self
//= require_dir .
//= require bootstrap_and_overrides
//= require bootswatch/loader
@import "bourbon";

.steps {
  .thumbnail {
    text-align:center;
    height:90px;
    padding:20px;
    font-size: 18px;
  }
  h4 {
    float: left;
    margin-top:30px;
    font-size: 30px !important;
    margin-left:5px;
  }
  p {
    margin-top:10px;
    margin-left:45px;
    text-align:justify;
  }
}

.phrase-banner {
  margin-top:150px;
  margin-bottom:50px;
}

.welcome-banner {
  margin-top:30px;
  text-align:center;
}

.category-button {
  width: 60px;
}

.non-results {
  text-align: center !important;
}
.container[role="main"] {
  padding-bottom: 60px;
}

.bottom-bar {
  margin-top:10px;
  padding:2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #08C;
  .copyright {
    padding-top:10px;
  }
}

.big-title {
  font-size: 80px;
  height: 100px;
  line-height: 90px;
  text-align: center;
}

#register-dropbox {
  clear: both;
  padding-top:5px;
  text-align:center;
}

.current_user {
  padding-top:5px;
}

.settings {
  display:inline;
  padding-left:5px;
}

#settings-dropdown {
  margin-left: -132px;
  margin-top: 8px;
}

span.denounce {
  font-size:11px;
  color: #C0C0C0;
}

.home {
  text-align: center;
  margin: 20px;
  text-decoration:none;
}

.tos {
  padding:10px;
  color: #F0FFFF;
}

.warning-sign {
  float: left;
  padding: 1px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
